body {
    font-family: 'Bangers', cursive;
    font-family: 'Roboto', sans-serif;
}

header .navbar {
    background-color: white;
}

.navbar-header img {
    height: 30px;
    margin-top: 5px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
    color: black;
}

.btn-default {
    color: #247eff;
    border-color: #0069ff
}

.btn-default:hover {
    color: white;
    background-color: #0069ff;
}

#banner-blu {
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    background-size: cover;
}

.testo {
    margin-top: 300px;
    width: 450px;
    color: white;
}

.testo h1 {
    font-size: 64px;
}

.row .testo p {
    font-size: 24px;
    margin-top: 30px;
    color: #ccdaff;
}

.jumbotron {
    margin-top: 220px;
    margin-bottom: 70px;
    /* larghezza per responsive */
    /* width: 470px; */
}

.jumbotron .deploy-seconds {
    color: #031b4e;
    font-size: 30px;
}

.before-after::before,
.before-after::after {
    content: "";
    display: inline-block;
    width: 125px;
    height: 2px;
    background-color: lightgrey;
    position: relative;
    bottom: 3px;
}

.before-after i {
    color: white;
    font-size: 15px;
    background-color: #0069ff;
}

.btn-primary {
    background-color: #0069ff;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: blue;
}

.btn-go-gt {
    margin-top: 20px;
}

.btn-go-gt button {
    color: black;
    background-color: #f2f8ff;
    border-color: lightgrey;
    width: 170px;
    padding: 10px;
}

.btn-go-gt > p {
    font-size: 13px;

}

.btn-go-gt button:hover {
    color: black;
    background-color: lightgrey;
}

.fa-google {
    padding: 5px;
    color: darkorange;
}

.fa-github-square {
    padding: 5px;
}

.ms--bg-bianco {
    background-color: white;
}

#gray {
    background-color: #f3f5f9;
}

.innovative  h2 {
    color: #939eb4;
    font-size: 15px;
    padding: 30px 30px;
}

.img-responsive {
    height: 70px;
}

.solution {
    margin-top: 120px;
}

.solution h4 {
    color: #036aff;
}

.container-small {
    /* larghezza per responsive */
    /* width: 800px; */
    margin: 0 auto;
}

.deploy-and-scale h2 {
    color: #031b4e;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.deploy-and-scale p {
    color: #4e5f83;
    margin-bottom: 50px;
}

.text-paragrafo {
    color: #5f6f8f;
    font-size: 18px;
}

.list li {
    color: #5f6f8f;
    padding: 15px 15px 15px 15px;
    border-left: 1px solid lightgrey;
    font-size: 18px;
}

.list li:hover {
    color: #031b4e;
}

.container .deploy-title {
    color: #031b4e;
    padding: 0;
    margin-top: 10px;
    font-size: 15px;
}

.designed h2 {
    color: #031b4e;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.designed p {
    color: #4e5f83;
    font-size: 20px;
    margin-bottom: 100px;
}

.screenshot img {
    width: 700px;
    height: 450px;
    margin-bottom: 60px;
}

.text-blue {
    color: #0169ff;
    font-size: 16px;
    margin-bottom: 100px;
}

#blu-world {
    background-color: #031b4e;
}

.service h2 {
    color: white;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.service-city-1 {
    margin-bottom: 100px;
}

.border {
    border-bottom: 1px solid #354971;
}

.service-city h4 {
    color: white;
}

.service-city h5 {
    color: #909ab1;
}

.service-city h6 {
    color: #00d7d2;
}

.service-city h6:hover {
    color: blue;
}

.designed u {
    color: #046bff;
}

.contentignite {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 100px;
}

.contentignite img {
    height: 25px;
    margin-top: 40px;
}

.contentignite h2 {
    font-size: 30px;
    color: #73809d;
    padding: 30px 20px;
}

.contentignite h4,h6 {
    color: #73809d;
}

.contentignite p {
    color: #046bff;
    padding-top: 15px;
}

#light-blue {
    background-color: #0049ff;
}

.get-started h2 {
    color: white;
    font-size: 35px;
    margin-top: 100px;
}

.get-started .create-you-account {
    color: #247eff;
    background-color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
}

#dark-blue {
    background-color: #010e28;
}

.finish {
    margin-top: 100px;
}

.finish h6 {
    color: white;
}

.finish li {
    color: #6d7583;
}
