body {
    font-family: 'Bangers', cursive;
    font-family: 'Roboto', sans-serif;
}

header .navbar {
    background-color: white;
}

.navbar-header img {
    height: 30px;
    margin-top: 5px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
    color: black;
}

.btn-default {
    color: #247eff;
    border-color: #0069ff
}

.btn-default:hover {
    color: white;
    background-color: #0069ff;
}

#banner-blu {
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    background-size: cover;
}

.testo {
    margin-top: 300px;
    width: 450px;
    color: white;
}

.testo h1 {
    font-size: 64px;
}

.testo p {
    font-size: 24px;
    margin-top: 30px;
}

.jumbotron {
    margin-top: 220px;
    margin-bottom: 70px;
    width: 470px;
}

.jumbotron .deploy {
    color: #031b4e;
    font-size: 30px;
}

.before-after::before,
.before-after::after {
    content: "";
    display: inline-block;
    width: 125px;
    height: 2px;
    background-color: lightgrey;
    position: relative;
    bottom: 3px;
}

.before-after i {
    color: white;
    font-size: 15px;
    background-color: #0069ff;
}

.btn-primary {
    background-color: #0069ff;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: blue;
}

.btn-go-gt {
    margin-top: 20px;
}

.btn-go-gt button {
    color: black;
    background-color: #f2f8ff;
    border-color: lightgrey;
    width: 170px;
    padding: 10px;
}

.btn-go-gt > p {
    font-size: 13px;

}

.btn-go-gt button:hover {
    color: black;
    background-color: lightgrey;
}

.fa-google {
    padding: 5px;
    color: darkorange;
}

.fa-github-square {
    padding: 5px;
}

.ms--bg-bianco {
    background-color: white;
}

#gray {
    background-color: #f3f5f9;
}

.container h2 {
    color: #939eb4;
    font-size: 15px;
    padding: 30px 30px;
}

.img-responsive {
    height: 70px;
}

.solution {
    margin-top: 120px;
}

.solution h4 {
    color: #036aff;
}

.container-small {
    width: 800px;
    margin: 0 auto;
}

.row h2 {
    color: #031b4e;
    font-size: 20px;
}

.row p {
    color: #5f6f8f;
    font-size: 15px;
}

.row ul li {
    color: #5f6f8f;
    padding: 15px 15px 15px 15px;
    border-left: 1px solid lightgrey;
    font-size: 20px;
}
